body{
      background-image: linear-gradient(#ffffff, #EFFBFE, #D8F2FF, #C5E083, #88A201);
font-family: Arial, Helvetica, sans-serif;
}

.header-container{
    display: flex;
     flex-direction: row; 
    }

    .left-column {
display: flex;
flex-direction: column;
width: 50vw;
    }

    .page-title {
      color: #1515B3;
      font-size: 25px;
  }

.company-logo{
 display: flex;  
 align-items: center; 
 justify-content: center;
 
}   

.nav-link-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
 }

.nav-link {
font-family: Arial;
font-size: 30px;
color: black;
text-decoration: none;
padding-right: 20px;
padding-left: 35px;
transition: 1s;
}

.nav-link:hover{
  color: #88A201;
  letter-spacing: 2px;
}


.header-picture {
 display: flex;
    align-items: flex-end;
    height: 350px;
  width: 50vw;
   object-fit: cover;
    }

h4 {
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
color: #1515B3;
text-align: right;
}

.picture-bar {
  display: flex;
  justify-content: space-evenly;
  height: 200px;

}

.port-pic1 {
display: flex;
width: 25vw;
}

.port-pic2 {
   display: flex;
   width: 25vw;
   }

  .port-pic3 {
     display: flex;
     width: 25vw;
         }


footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
padding-right: 75px;

}

@media screen and (max-width: 425px) {
  
  
  {

 