<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Dynamics About Page</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <div class="header-container">
        <div class="left-column">
            <div class="page-title">About</div>
            <div class="company-logo">
                <img src="../assets/Garden Dynamics .png" alt="Garden Dynamics logo" style="height: 300px">
            </div>

            <div class="nav-link-wrapper">
                <nav>
                    <a class="nav-link" href="../index.html">Home</a>
                    <a class="nav-link" href="../components/services.html">Services</a>
                    <a class="nav-link" href="../components/availability.html">Availability</a>
                </nav>
            </div>
        </div>

        <div>
            <img class="header-picture" src="../assets/Doug pruning.jpg" alt="Doug Pruning a Tree">
        </div>

    </div>


    <div class="bottom-page">
        <h3 class="quote">"I started Garden Dynamics because of my desire to start a horticultural business from scratch
            and help it grow and prosper."<br> --Doug Muench </h3>

        <div>
            <img class="picture" src="../assets/Doug.jpg" alt="Doug Muench">
        </div>

        <div class="about-paragraph"> My goal is to provide excellent customer service, a good living and a great
            work
            environment for myself and my employees. I want my company to be professional and recognized as one of
            the best in the business.
            <br> <br>
            I have always loved plants and working outdoors and was involved in a top-tier ornamental horticulture
            program at Fort Vancouver High School. I really enjoyed it and knew I wanted to pursue some form of
            horticulture as a career.
            <br> <br>
            I graduated from Brigham Young University with a Bachelor of Science in Horticulture. While attending
            college I worked at a retail nursery and with a landscape architect on several garden construction
            projects.
            <br> <br>
            I later started my own landscape management business which I pursued part-time until September 2009 and
            full-time from then on.
            <br> <br>
            Since college I have worked at two wholesale nurseries for 13 years in shipping, inventory, production
            management, information technology, and more.
            <br> <br>
            I enjoy all outdoor activities, computers, speaking Spanish, and traveling to South America, which I do
            every couple of years. And I love plants and people!
        </div>

    </div>

    <footer>
        <div>
            <h6>Website designed and developed by Kim Sorensen</h6>
        </div>
    </footer>

</body>