<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Dynamics Availability Page</title>
    <script src="https://kit.fontawesome.com/73c8229472.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="availability.css">
</head>

<body>
    <div class="header-container">
        <div class="left-column">
            <div class="page-title">Availability</div>
            <div class="company-logo">
                <img src="../assets/Garden Dynamics .png" alt="Garden Dynamics logo">
            </div>

            <div class="nav-link-wrapper">
                <nav>
                    <a class="nav-link" href="../components/about.html">About</a>
                    <a class="nav-link" href="../components/services.html">Services</a>
                    <a class="nav-link" href="../index.html">Home</a>
                </nav>
            </div>
        </div>

        <div>
            <img class="header-picture" src="../assets/Bamboo.jpg" alt="Bamboo">
        </div>

    </div>

    <div class="statement">Due to high demand for our services, new openings are limited.</div>
    <div class="join-list">Please join our mailing list to be notified of upcoming availability.</div>


    <!-- <?php if(isset ($_POST['submit'])) {
            $to = "dynamicgardener@gmail.com";
            $from = $_POST[ 'email' ];
            $first_name = $_POST['first_name'];
            $last_name = $_POST['last_name'];
            $subject = "Form submission";
            $message = $first_name . " " .
           $last_name . " wrote the following:" . "\n\n" .
           $_POST[ 'message']; $headers = "From:" . $from; $headers2 = "From:" . $to; mail($to,$subject,$message,$headers);
        }?> -->


    <!-- <?php
        pre_r($_POST);
        pre_r($_GET);
        if (isset($_POST['submit'])){
            echo "First Name:".$_POST['firstname']. '<br />';
            echo "Last Name:".$_POST['lastname']. '<br />';
            echo "Email address".$_POST['emailaddress'].;
    }
        ?>

        <?php require_once 'process.php' ?>
        <form action="" method="GET">
            <p> First Name: <input type="text" name="firstname" value=""></p>
            <p> Last Name: <input type="text" name="lastname" value=""></p>
            <p> Email address: <input type="text" name="emailaddress" value=""></p>
            <input type="submit" name="submit" value="Submit">
        </form> -->






    <!-- <div class="contact-link"> -->
    <!-- <a href="mailto:dynamicgardener@gmail.com" target="blank"></a>
        <i class="fa-solid fa-envelope fa-8x fa-bounce"></i>
    </div> -->

    <div class="contact-info">

        <!-- form class="contact-info" action="/action_page.php">  -->
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <br>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <br>

        <label for="pnumber">Phone Number</label>
        <input type="text" id="pnumber" name="phonenumber" placeholder="Your phone number..">
        <br>

        <label for="eaddress">Email address</label>
        <input type="text" id="eaddress" name="emailaddress" placeholder="Your email address..">
        <br>
        </form>
    </div>



    <div>
        <button id="submit-button" type="submit" value="Submit">Submit</button>
    </div>

    <footer>
        <div>
            <h6>Website designed and developed by Kim Sorensen</h6>
        </div>
    </footer>
</body>