.statement {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.join-list {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.contact-info {
    background-color: #EFFBFE;
    margin: 1rem 20rem 1rem 20rem;
    padding: 1rem;
    font-size: .75rem;
    color: #1515B3;
    justify-content: left;
}

#submit-button {
    height: 2rem;
    width: 6rem;
    background-color: #ffffff;
    font-size: 1rem;
    color: #1515B3;
    box-shadow: 10px 10px 10px gray;
    margin-left: 28rem;
    margin-bottom: 0;
}

#submit-button:hover {
    color: #88A201;
    background-color: #D8F2FF;
}

#fname,
#lname,
#pnumber,
#eaddress {
    width: 50%;
    padding: 5px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media screen and (max-width: 915px) {
    .contact-info {
        margin: 3rem 10rem 0 10rem;
    }

    #submit-button {
        margin-left: 25rem;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 542px) {
    .statement {
        font-size: .75rem;
    }

    .join-list {
        font-size: .75rem;
    }

    .contact-info {
        margin: 1.25rem .75rem 0 .75rem;
    }

    #submit-button {
        margin-left: 8rem;
        margin-top: .25rem;

    }

}