<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Dynamics Availability Page</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="availability.css">
</head>

<body>
    <div class="header-container">
        <div class="left-column">
            <div class="company-logo">
                <img src="../assets/Garden Dynamics .png" alt="Garden Dynamics logo">
            </div>

            <div class="nav-link-wrapper">
                <nav>
                    <a class="nav-link" href="../components/about.html">About</a>
                    <a class="nav-link" href="../components/services.html">Services</a>
                    <a class="nav-link" href="../index.html">Home</a>
                </nav>
            </div>
        </div>

        <div>
            <img class="header-picture" src="../assets/Bamboo.jpg" alt="Bamboo">
        </div>

    </div>

    <div class="statement">Due to high demand for our services, new openings are limited.</div>
    <div class="join-list">Please provide your contact information to be notified of upcoming availability.</div>
    <div>
        <form class="contact-info">
            <label> First Name
                <input type="text">
            </label>
            <br>

            <label> Last Name
                <input type="text">
            </label>
            <br>

            <label> Phone Number
                <input type="text">
            </label>
            <br>

            <label> Email address
                <input type="text" </label>
                <br>
        </form>
    </div>

    <form class="time-day">
        <label> Best time of day to reach you?</label>
        <div>
            <input type="checkbox" id="mornings" name="contact-time">
            <label for "mornings"> Mornings </label>
        </div>
        <div>
            <input type="checkbox" id="afternoons" name="contact-time">
            <label for "afternoons">Afternoons</label>
        </div>
        <div>
            <input type="checkbox" id="evenings" name="contact-time">
            <label for="evenings">Evenings</label>
        </div>
        <div>
            <input type="checkbox" id="weekends" name="contact-time">
            <label for="weekends">Weekends</label>
        </div>
    </form>

    <form class="how-contact">
        <label>How do you prefer to be contacted?</label>
        <div>
            <input type="checkbox" id="phone" name="contact-method">
            <label for="phone">Phone call</label>
        </div>
        <div>
            <input type="checkbox" id="text" name="contact-method">
            <label for="text">Text</label>
        </div>
        <div>
            <input type="checkbox" id="email" name="contact-method">
            <label for="email">Email</label>
        </div>
    </form>

    <div>
        <button id="submit-button">Submit</button>
    </div>

    </form>

    <footer>
        <div>
            <h6>Copyright 2022 Kim Sorensen, all rights reserved.</h6>
        </div>
    </footer>
</body>