.join-list {
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 1.5em;
    font-weight: bold;
    }
    
    .contact-info {
    background-color: #EFFBFE;
    margin: 40px;
    padding: 20px;
    font-size: 30px;
    color: #1515B3;
    justify-content: left;
        }
    
    
    
    #submit-button {
    height: 75px;
    width: 150px;
    background-color: #ffffff;
    font-size: 30px;
    color: #1515B3;
    margin-left: 40px;
    box-shadow: 10px 10px 10px gray;
    }
    
    input[type=text], select{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; 
    }
    
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #ffffff;
      }
      
      div {
        border-radius: 5px;