.list {
display: flex;
align-items: top;
justify-content: center;
font-family: 'Arial', sans-serif;
font-weight: bold;
color: #1515B3;
font-size: 20px;
}


.free-estimate {
    display: flex;
    font-family: 'Helvetica', serif;
    font-size: 15px;
   justify-content: center;
        }


.serving {
    display: flex;
font-size: 12px;
font-family: 'Helvetica', serif;
justify-content: center;
}