.list {
display: flex;
align-items: center;
justify-content: center;
font-family: 'Arial', sans-serif;
font-weight: bold;
margin-right: 30px;
margin-top: 20px;
padding: 10px 20px;
color: #1515B3;
line-height: 1.5em;
font-size:40px;
}


.free-estimate {
    font-family: 'Helvetica', serif;
    font-size: 40px;
   justify-content: center;
   margin-left: 150px;
    }


.serving {
    display: flex;
font-size: 25px;
font-family: 'Helvetica', serif;
justify-content: center;
}