.list {
    display: flex;
    align-items: top;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #1515B3;
    font-size: 1.5rem;
}


.free-estimate {
    display: flex;
    font-family: 'Helvetica', serif;
    font-size: 1rem;
    justify-content: center;
}


.serving {
    display: flex;
    font-size: 1rem;
    font-family: 'Helvetica', serif;
    justify-content: center;
}

@media screen and (max-width: 542px) {
    .free-estimate {
        font-size: .750rem;
    }

    .serving {
        font-size: .750rem;
    }
}