<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Dynamics Services Page</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="services.css">
</head>

<body>
    <div class="header-container">
        <div class="left-column">
            <div class="page-title">Services</div>
            <div class="company-logo">
                <img src="../assets/Garden Dynamics .png" alt="Garden Dynamics logo">
            </div>

            <div class="nav-link-wrapper">
                <nav>
                    <a class="nav-link" href="../components/about.html">About</a>
                    <a class="nav-link" href="../index.html">Home</a>
                    <a class="nav-link" href="../components/availability.html">Availability</a>
                </nav>
            </div>
        </div>
        <div>
            <img class="header-picture" src="../assets/Ranger.JPG" alt="Ranger with logo">
        </div>

    </div>

    <div class="list">
        <ul>
            <li>Year-round programs customized to fit your needs...and your budget</li>
            <li>Lawn care</li>
            <li>Expert pruning</li>
            <li>Plant nutrtion management</li>
            <li>Management of annual, perennial, and shrub beds and borders</li>
            <li>Efficient and dependable service</li>
        </ul>

    </div>

    <div class="free-estimate">
        <p>We would be happy to provide you with a free detailed estimate.
            <br> See how we can save you money and give you better service!
        </p>
    </div>

    <div class="serving">Serving Wilsonville and Tualatin areas for 24 years </div>


    <footer>
        <div>
            <h6>Copyright 2022 Kim Sorensen.</h6>
        </div>
    </footer>
</body>